## COSC 1210
### In depth Dictionaries (now with Sets!)

In this notebook, we will cover
- use of dictionaries
- adding and removing elements
- creating dictionaries from lists
- creating lists from keys, values, and items
- modifying a value of a dictionary
- basic set operators and methods

To review what we learned about Dictionaries in the data types overview...

example_dict = {key1: value1, key2: value2, ...}

- keys can be any non-mutable type (ususally a string or numerical value)
- values can be any type

In [ ]:
### Dictionaries - creating a dictionary

phone_dict = {"fatima": 4378099454, "bob": 16129994444}
print(phone_dict)

In [ ]:
### accessing items in a dictionary
# dictionary[key]
name = "bob"
print("the phone number of", name,  "is", phone_dict[name])

In [ ]:
### adding new key:value pairs to a dictionary
phone_dict["marlo"] = 549823460
print(phone_dict)

### Basic dictionary statements and methods

In [17]:
## removing key-value pairs

# del - simply remove a key-value pair by calling on its key
phone_dict = {"fatima": 4378099454, "bob": 16129994444, "marlo": 549823460}

# note the square brackets for accessing a value related to a key
del phone_dict["bob"]
print(phone_dict)

{'fatima': 4378099454, 'marlo': 549823460}

In [ ]:
# pop - return the value from the removed key
phone_dict = {"fatima": 4378099454, "bob": 16129994444, "marlo": 549823460}

# note the round brackets used for methods
removed_item = phone_dict.pop("bob")
print("we removed", removed_item)
print("the new dictionary is", phone_dict)

we removed 16129994444
the new dictionary is {'fatima': 4378099454, 'marlo': 549823460}

#### Dictionary views

- .keys() - provides an object with each of the keys - use list() to make that object a list type
- .values() - provides an object with each of the values
- .items() - provides an object with the key-value pairs as a list of tuples

In [19]:
month_list = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
# (normal year, leap year)
# There is a known error in this list - we will fix it late 
days_in_month_tuples = [[1, 31,31], [2, 28, 29],[3, 30,30], [4,30,30], [5,31,31], [6,30,30], 
                        [7,31,31], [8,31,31], [9,30,30], [10,31,31], [11,30,30], [12,31,31]]

## Create a dictionary from these lists

month_dict = {}
for i in range(len(month_list)):
    month_dict[month_list[i]] = days_in_month_tuples[i]

print(month_dict)

{'January': [1, 31, 31], 'February': [2, 28, 29], 'March': [3, 30, 30], 'April': [4, 30, 30], 'May': [5, 31, 31], 'June': [6, 30, 30], 'July': [7, 31, 31], 'August': [8, 31, 31], 'September': [9, 30, 30], 'October': [10, 31, 31], 'November': [11, 30, 30], 'December': [12, 31, 31]}

In [8]:
# .keys
# Note - this provides a dictionary object
print(month_dict.keys())

dict_keys(['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'])

In [9]:
# This gives you back a list which you already know how to use
print(list(month_dict.keys()))

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [11]:
# .values
print(list(month_dict.values()))

[[1, 31, 31], [2, 28, 29], [3, 31, 31], [4, 30, 30], [5, 31, 31], [6, 30, 30], [7, 31, 31], [8, 31, 31], [9, 30, 30], [10, 31, 31], [11, 30, 30], [12, 31, 31]]

In [18]:
print(list(month_dict.items()))

[('January', [1, 31, 31]), ('February', [2, 28, 29]), ('March', [3, 31, 31]), ('April', [4, 30, 30]), ('May', [5, 31, 31]), ('June', [6, 30, 30]), ('July', [7, 31, 31]), ('August', [8, 31, 31]), ('September', [9, 30, 30]), ('October', [10, 31, 31]), ('November', [11, 30, 30]), ('December', [12, 31, 31])]

#### **Stop and answer this question**

There is an error in the dictionary below - March has 31 days, not 30
- Use the dictionary assignment statement to fix it
- Use the dictionary .update() method to fix it

In [ ]:
# fix with assignment statement
month_dict = {'January': [1, 31, 31], 'February': [2, 28, 29], 'March': [3, 30, 30], 'April': [4, 30, 30], 'May': [5, 31, 31], 
              'June': [6, 30, 30], 'July': [7, 31, 31], 'August': [8, 31, 31], 'September': [9, 30, 30], 'October': [10, 31, 31], 
              'November': [11, 30, 30], 'December': [12, 31, 31]}

In [ ]:
# fix with .update() method
month_dict = {'January': [1, 31, 31], 'February': [2, 28, 29], 'March': [3, 30, 30], 'April': [4, 30, 30], 'May': [5, 31, 31], 
              'June': [6, 30, 30], 'July': [7, 31, 31], 'August': [8, 31, 31], 'September': [9, 30, 30], 'October': [10, 31, 31], 
              'November': [11, 30, 30], 'December': [12, 31, 31]}

#### **Stop and answer this question**

Iterate over the dictionary and count how many months have 28, 30, and 31 days. Product a new dictionary that has the number of days as the key and the number of months that have those number of days as the values

In [ ]:
# correct dictionary
month_dict = {'January': [1, 31, 31], 'February': [2, 28, 29], 'March': [3, 31, 31], 'April': [4, 30, 30], 'May': [5, 31, 31], 
              'June': [6, 30, 30], 'July': [7, 31, 31], 'August': [8, 31, 31], 'September': [9, 30, 30], 'October': [10, 31, 31], 
              'November': [11, 30, 30], 'December': [12, 31, 31]}

### Sets

Sets are unordered collections of unique values. They are denoted with curly brackets
- Notice that after the set expression is evaluated, they order is changed...

In [21]:
colors = {'red', 'red', 'orange', 'yellow', 'blue', 'red', 'green', 'yellow'}
print(colors)

{'red', 'blue', 'green', 'orange', 'yellow'}

In [22]:
# create a set with the set() function
numbers = list(range(10)) + list(range(5))
print(numbers)
numbers_set = set(numbers)
print(numbers_set)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4]
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# union - all unique elements from two sets
set1 = {1, 2, 4, 5, 6, 7, 11}
set2 = {1, 3, 4, 7, 8, 11}

set1 | set2

{1, 2, 3, 4, 5, 6, 7, 8, 11}

In [25]:
# union
set1 = {1, 2, 4, 5, 6, 7, 11}
set2 = {1, 3, 4, 7, 8, 11}

set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 11}

In [28]:
# intersection - unique elements sets have in common

set1 = {1, 2, 4, 5, 6, 7, 11}
set2 = {1, 3, 4, 7, 8, 11}

set1 & set2

{1, 4, 7, 11}

In [ ]:
# intersection - unique elements sets have in common

set1 = {1, 2, 4, 5, 6, 7, 11}
set2 = {1, 3, 4, 7, 8, 11}

set1.intersection(set2)

In [29]:
# difference - unique elements in the left set and not in the right set

set1 = {1, 2, 4, 5, 6, 7, 11}
set2 = {1, 3, 4, 7, 8, 11}

set1 - set2

{2, 5, 6}

In [30]:
# difference - unique elements in the left set and not in the right set

set1 = {1, 2, 4, 5, 6, 7, 11}
set2 = {1, 3, 4, 7, 8, 11}

set1.difference(set2)

{2, 5, 6}

In [ ]:
# other set function
set1 = {1, 2, 4, 5, 6, 7, 11}
set1.add(17)
set1.add(3)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 11, 17}

In [ ]:
## Try the following set methods
set1 = {1, 2, 4, 5, 6, 7, 11}
# .remove()

# .pop()

# .clear()